
<body>

  <div class="container">

    <div class="blog-header">
      <h1 class="blog-title">Wesley Whitney</h1>
      <p class="lead blog-description">Full-Stack Web Developer</p>
    </div>

    <div class="row">

      <div class="col-sm-3 blog-sidebar">
        <div class="sidebar-module sidebar-module-inset">
          <img src="image_small.png"/>
        </div>
        <div class="sidebar-module">
          <ol class="list-unstyled">
            <li>{{#link-to 'index'}}My Story{{/link-to}}</li>
            <li>{{#link-to 'projects'}}Projects{{/link-to}}</li>
          </ol>
        </div>
        <div class="sidebar-module">
          <ol class="list-unstyled">
            <li>{{#link-to ''}}{{/link-to}}</li>
            <li><a href="https://students.gschool.it/people/95"><img class="icons" src="gschool-logo_icon copy.png" alt="" /></a></li>
            <li><a href="http://github.com/weswhitney"><img class="icons" src="GitHub-Mark_icon copy.png" alt=""/></a></li>
            <li><a href="http://twitter.com/@wes_whitney"><img class="icons" src="Twitter_logo_blue_icon copy.png" alt="" /></a></li>
            <li><a href="http://linkedin.com/in/wesleywhitney"><img class="icons" src="linked_in_icon copy.png" alt="" /></a></li>
          </ol>
        </div>
      </div><!-- /.blog-sidebar -->



      <div class="col-sm-8 col-sm-offset-1 blog-main">

      {{outlet}}

      </div><!-- /.blog-main -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</body>
