<header>
  <h1>Wesley Whitney</h1>
</header>
<div class="container">
  <div class="row">
    <div class="col-md-4">

      <img src="IMG_1834.png"/>
    </div>
    <div class="col-md-offset-5">

  {{outlet}}
    </div>
  </div>
</div>

<div >

</div>


</div>
<div class="fixed-footer">
  {{#link-to 'projects'}}<i class="fa fa-circle">Projects</i>{{/link-to}}

  {{#link-to 'resume'}}<i class="fa fa-circle">Resume</i>{{/link-to}}

  {{#link-to 'index'}}<i class="fa fa-circle">Index</i>{{/link-to}}
</div>
