<div class="blog-post">
  <h2 class="blog-post-title">My Story</h2>

  <p>
    I grew up in Colorado enjoying all that it has to offer.  I worked my way through college
    affording a few classes here and there until I reached my goal
    and graduated from Metro State University of Denver with a Bacholers in business
    management.
  </p>
  <p>
    Family became my number one priorty soon after when my first child was born.
    I was determined to spend as much time with my kid as possible,
    raising her in the day and working
    nights in the hospitality industry as bartender.
  </p>
  <p>
    Growing up in the technical revolution I decided it was my time to get involved
    in such an awesome forward thinking industry.  Luckily, my hometown of Denver
    is the perfect place to accomplish this.  I enrolled in gSchool to get an
    opportunity and start in the Industry and I couldn't be happier.
  </p>
  <p>
    I enjoy learning and demystifying the internet so I feel relived and excited that I finally got into
    a career that suites me.  Now I just need my first opporunity to get into the
    mix and finalize my tranistion.
  </p>
</div><!-- /.blog-post -->

{{outlet}}
