<div class="page-header">
  <h2 class="text-center">My Story</h2>
</div>
  <br>
  <p>
    My initial experience with higher education falls within the business field, and culminated in a Bachelors degree in Business Management.
    Historically I worked in the hospitality industry and out of that I have polished customer service skills.
    A return to education at gSchool left me with a renewed sense of eagerness to pursue a career that would meet both my need to feel challenged, and provide me with a specific skill set.
    gSchool has done this with a solid 6 month base of immersive development training.
    I have dedicated myself to this process by committing to absorb every drop of information and experience this program has made available to me.
    I continue to learn during all free moments as I aspire to be great at what I do.
    With the commencement of the program I'm adding a technical skill to my business and customer service background, I now need to begin working in a position where I can use my new honed skills with the added benefit of continuing to learn on the job.
  </p>

  <p>
    I am seeking a position where there is an atmosphere and culture that is focused on employee development, as I know one of my main assets is my loyalty and desire to reinvest in those who invest in me.
  </p>

  {{outlet}}
